table.comparison{
  width:100%;
}

table.comparison th{
  padding:6px;
  border-bottom:1px solid black; 
}

table.comparison td{
  padding:6px;
  border-bottom:1px solid #ccc;
}

.reveal section img.no-border{
  border:0px;
  box-shadow:none;
}

table.vert-middle td{
  vertical-align:middle;
}

.strike {text-decoration:line-through}

.row .col4{
  text-align:left;
  width:50%;
  float:left;
}

.row .col8{
  text-align:left;
  border:1px solid red;
  width:66%;
  float:left;
}

section.charts{
  text-align:left;
}
